* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 5px;
    padding: 0px;
}

html {
    background-color: rgb(30,30,30);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 3rem;
}

header {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: black;
    margin: 0;
}

.sideMargin {
    margin-left: 20px;
    margin-right: 20px;
    text-wrap: nowrap;
}

.center {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#header-content {
    display: inline-flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

#site-logo {
    max-height: 40px;
    height: 100%;
    border-radius: 10px;
    float: left;
}


#searchbar {
    height: 2rem;
    width: 100%;
}

#searchbar,input[type=text] {
    width: 280px;
    height: 2rem;
    border: none;
    border-radius: 2px;
    padding: 2px;
    background-color: whitesmoke;
}

#searchbar,input[type=submit] {
    margin-left: 0;
    color: black;
    background-color: whitesmoke;
    border: none;
    position: relative;
    right: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: rgb(20,20,20);
}

#developer {
    margin-left: 10px;
    font-style: italic;
}


#gameCover {
    width: 210px;
    height: auto;
}

#linkWidget {
    background-color: rgb(80,80,80);
    border-radius: 0.5rem;
    width: 210px;
    height: 4rem;
    margin-left: 10px;
    justify-content: space-between;
    align-content: center;
}

#linkWidget ul {
    margin: 0;
}
#linkWidget li {
    display: inline-flex;
    margin: 2px;
    padding: 0;
    width: 2.2rem;
    height: 2rem;
}

#linkWidget li a img{
    margin: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}