* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgb(30,30,30);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 3rem;
}

h2, h2 span {
    font-size: 1.5rem;
}

header {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: black;
    padding: 0.2rem;
}

.sideMargin {
    margin-left: 20px;
    margin-right: 20px;
    text-wrap: nowrap;
}

.center {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#header-content {
    display: inline-flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

#site-logo {
    max-height: 40px;
    height: 100%;
    border-radius: 10px;
    float: left;
}


#searchbar {
    height: 2rem;
    width: 100%;
}

#searchbar,input[type=text] {
    width: 280px;
    height: 2rem;
    border: none;
    border-radius: 2px;
    padding: 2px;
    background-color: whitesmoke;
}

#searchbar,input[type=submit] {
    margin-left: 0;
    color: black;
    background-color: whitesmoke;
    border: none;
    position: relative;
    right: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 0.5rem;

}

main section {
    background-color: rgb(20,20,20);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

#releaseDetails {
    margin-top: 1rem;
}

#releaseDetails p {
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
    margin-left: 0.2rem;
    text-indent: -4.6rem;
    padding-left: 4.6rem;
}

#gameSummary {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#coverAndLinkWidget {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 440px;
    text-wrap: wrap;
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

#gameCover {
    width: 200px;
    height: auto;
}

#linkWidget {
    background-color: rgb(80,80,80);
    border-radius: 0.5rem;
    width: 200px;
    height: 3rem;
    justify-content: center;
    align-content: center;
}

#linkWidget li {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    margin: 0px 0.2rem 0px 0.2rem;
}

#linkWidget li a img{
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}

#compositeReviewSummary {
    display: inline-flex;
    flex-direction: column;
    max-width: 300px;
    height: 440px;
    background-color: rgb(30, 30, 30);
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

.reviewSummary {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-flex;
    flex-direction: column;
}

.reviewSummary p {
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
    text-wrap: wrap;
}

.reviewSummary p span {
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
}


#patchReviewSummary {
    display: inline-flex;
    flex-direction: column;
    max-width: 280px;
    height: 440px;
    background-color: rgb(30, 30, 30);
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

.numberOfReviews {
    color: rgb(100,100,100) !important;
    font-style: italic;
    font-size: 0.8rem;
}

.seasonSummary {
    margin-top: 0.2rem;
}

.reviewButton {
    padding: 1rem;
    min-width: 250px;
    height: auto;
    background-color: rgb(57, 86, 141);
    color: whitesmoke;
    border-radius: 1rem;
    border:none;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.reviewButton:hover {
    background-color: gray;
}

.altButton {
    padding: 0.2rem;
    min-width: 250px;
    height: auto;
    background-color: rgb(100, 100, 100);
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.altButton:hover {
    background-color: gray;
    color: whitesmoke;
    font-style: bold;
}


.patchSentiment {
    font-size: 0.9rem;
    font-weight: bold;
}

.ad250Square {
    background-color: rgb(165, 42, 102);
    width: 250px;
    height: 250px;
    margin: 0.5rem;
}

.ad300Square {
    background-color: brown;
    width: 300px;
    height: 300px;
}

#compositeProAndCon {
    /* Convert to display grid */
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.proConBlock {
    width: 280px;
    min-height: 250px;
    padding: 1rem;
    text-wrap: wrap;
    border-radius: 0.5rem;
}

.proConBlock ul {
    list-style-position: inside;
}

.proConBlock ul li {
    color: rgb(180, 180, 180);
}

.proBlock {
    background-color: rgba(0, 255, 0, 0.2);
}

.conBlock {
    background-color: rgba(255, 0, 0, 0.2);
}

.resolvedBlock {
    background-color: rgba(128, 128, 128, 0.2);
}


.playerTypeList {
    display: inline-flex;
    list-style-type: none;
}

.playerTypeList li {
    background-color: rgb(80,80,80);
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 1rem;
}

#compositeButton {
    background-color: rgb(40,40,40);
    border: solid 1px whitesmoke;
}

.reviewElement {
    background-color: rgb(30,30,30);
    color: rgb(200,200,200);
    padding: 0.5rem;
    margin: 0.5rem;
}
